

<% if @ratboard%>
	<h1>Today's RATboard <span><%= link_to "Sales Summary", rat_sales_board_path(@ratboard)%></span></h1>
	<%= render 'boards/ratboard'%>
	
	
	<% content_for(:quick_title) do %>
	Your Sales Today
	<% end %>

	<% content_for(:quick_box) do %>
		<%= render 'user_sales'%>
	<% end %>
	
	
	
	
<% else %>

	<h2>There is no RATBoard associated with today's date!</h2
	<h3> Click <%=link_to "Here", new_board_path%> to create one</h3>
<% end %>
