<%= content_for :headline do %>
<h1>Your Dashboard &rarr; <span>Welcome</span></h1>
<% end %>







<% if current_user.staff? %>
	
	<%= render 'staff_home'%>
	
<% elsif current_user.shipper? %>
	
	<%= render 'shipper_home' %>
	
<% end %>